{% extends "carblog/layout.html" %} 

{% block body%}
{%  load static %}
<h3 id="about-header">
    Our Mission
</h3>

<div>
    <div class="column">
        <img src="{%static 'carblog/quality.png' %}" alt="quality image">
    </div>
    <div class="column">
        <P></P>
        <h4>
            Quality
        </h4>
        <p> Contljkdfdf fdjkfldafkla fjdklfjdklafjkl fkjdlsjfkladjflksjfkd jkfldjafkldjfkl dklf</p>
    </div>
</div>
<br> </br>
<div>
    <div class="column">
        <P></P>
        <h4>
            Integrity
        </h4>
        <p> Contljkdfdf fdjkfldafkla fjdklfjdklafjkl fkjdlsjfkladjflksjfkd jkfldjafkldjfkl dklf</p>
    </div>
    <div class="column">
        <img src="{%static 'carblog/clipboard.png' %}" alt="Clipboard img">
    </div>
</div>
<div>
    <div class="column">
        <img src="{%static 'carblog/car.png' %}" alt="Car Image">
    </div>
    <div class="column">
        <P></P>

        <h4>
            Variety
        </h4>
        <p> Contljkdfdf fdjkfldafkla fjdklfjdklafjkl fkjdlsjfkladjflksjfkd jkfldjafkldjfkl dklf</p>
    </div>
</div>






{% endblock %}