{% extends "auctions/layout.html" %} 

{% block body %} 
    about the listing stuff:
    <ul>
            <li> 
                {{ listObj.title }}
                <br> </br>
                price: 
                {{ listObj.price }}
                <br> </br>
                {% if listObj.imageURL != "" %}
                    <img src={{ listObj.imageURL }} alt = "Image Unabled to Be Rendered" width=100>
                {% else %}
                    No Image Provided
                {% endif %}
                <br> </br>
                description: 
                {{ listObj.description }}
                <br> </br>
                {% if listObj.category != "" %}
                    {{ listObj.category }}
                {% else %}
                    No Category provided 
                {% endif %}
            </li>
    </ul>
    add new stufs here
    {% if request.user == listObj.user %}
        <form action="{% url 'endbid' listObj.id%}" method="post">
            {% csrf_token %}
            <input type="submit" name="endBid" value="Click to End Bid">
        </form>
    {% endif %}


    <form action = "{% url 'listing' listObj.id %}" method="post">
        {% csrf_token %}
        {{ form1 }}
        <input type="submit">
    </form>
    {% if toLow %}
        Higher bid is required
    {% endif %}
    <form action ="{% url 'watchlist' listObj.id %}" method="post">
        {% csrf_token %}
        {% if inWatchList %}
            <input type=Submit value="remove from watchlist">
        {% else %} 
            <input type=Submit value="add to watchlist">
        {% endif %}
    </form>
    <br> </br> 
    <h1>Comments</h1>
    <ul>
        {% for comment in Comments %}
            <li>
                {{comment.user}}: {{comment.message}}
            </li>
            <br></br>
        {% endfor %}
    </ul>
    <form action="{% url 'comment' listObj.id%}" method="post">
        {% csrf_token %}
        <label for="comment">Add Comment Here:</label>
        <input type="text" name="comment" style="width: 200px; height: 150ppx;">
        <input type="submit" value="Post">
    </form>
{% endblock %}